#html {
    font-size: 100%;
}

body {
    background-color: #71a95a;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    margin: 5em 20%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

i{
    cursor: pointer;
}



@media only screen and (max-device-width: 480px){
    main{
        margin: 0;
    }
}