/* ------ */

#eintrag {
    padding-bottom: 2em;
    background-color: #f9f3ec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#eintrag button:hover {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/*  -------- */

.sectionHeader {
    background-color: white;
    width: 95%;
    height: 3em;
    margin: 15px auto;
    padding-top: 10px;
    background-color: #7c0a02;
}

.sectionHeader h1 {
    color: white;
    margin: 0px 15px;
}
/* ------ */

#name {
    background-color: #7c0a02;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f4f9f4;
}

#name button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

#name i {
    padding-left: 1em;

}

#name h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 4em;
}

/*  ------- */

#pokedexeintrag #frontback {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: ". a . b . c . d .";
    align-items: start;
    padding: 2em 0px;
}

#pokedexeintrag #frontback .front {
    grid-area: a;

}

#pokedexeintrag #frontback .frontshiny {
    grid-area: b;

}

#pokedexeintrag #frontback .back {
    grid-area: c;
}

#pokedexeintrag #frontback .backshiny {
    grid-area: d;
}

/*  --------- */

.informationseintrag{
    background-color: #f2f4fb;
    border-radius: 10px;
}

.informationseintrag .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.informationseintrag .edition {
    margin-top: 2em;
    display: grid;
}

.informationseintrag .edition p {
    margin: 0;
    margin-bottom: 15px;
    border-style: solid;
    cursor: pointer;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: #9b9fad;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.informationseintrag .edition p:first-child {
    border-left: 0px;
}

.informationseintrag .edition p:hover {
    border-bottom: 0px;
    background-color: #5c636e;
    ;
}

.informationseintrag .infotext {
    padding: 1em 2em;
    margin-bottom: 2em;
}

.informationseintrag .borderbottom0 {
    border-bottom: 0;
}
/* ------ */

#entwicklungsstufen {
    width: 80%;
    margin: 0 auto;

}

#entwicklungsstufen table {
    width: 50%;
}


#entwicklungsstufen h3 {
    text-align: center;
}

#entwicklungsstufen p {
    padding-bottom: 1em;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    padding: 1em;
}

/* Fähigkeiten  */

#faehigkeiten .row{
    display: flex;
    flex-wrap: row;
    justify-content: center;
    margin: 0.8em 0;
}

#faehigkeiten .name{
    flex-basis: 10em
}

#faehigkeiten .versteckt{
    flex-basis: 10em
    
}

#faehigkeiten .versteckt{
    flex-basis: 10em
    
}

#faehigkeiten .info{
    flex-basis: 10em
}


/* Stautswerte hier stylen */

#baseStats .stat {
    border-style: solid;
    width: 40rem;
    height: 1.5em;
    border-color: #ff4949;
}

#baseStats .progress {
    background-color: #ff4949;
    height: 1.5em;
    color: white;
}

#baseStats .row{
    display: flex;
    margin: 2em 0;
}
#baseStats span {
    flex-basis: 10em;
}



/* schwäche hier stylen  */

#schwaeche table {
    width: 80%;
    margin: 0 auto;
}
.table3 {
    width: 75%;
    margin: 2em auto;
    padding: 10px 20px;
    background-color:#f2f4fb;
    border-radius: 10px;
}
#schwaeche .row {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
}


.multiplier{
    width: 30px;
    flex-basis: 10em;
}


/*  ******** */

/* attacken hier stylen */

#attacken tr {
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.397);
}

#attacken .wieErlernbar {
    background-color: #b22222;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
    margin-top: 2em;
}

#attacken .wieErlernbar h1 {
    padding-left: 1em;
}

#attacken .wieErlernbar i {
    padding-top: 0.8em;
    padding-right: 1em;
}

#attacken .table {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

#attacken .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
#attacken .row span {
    padding: 0.5em 0;

}

#attacken .first {
    background-color: #f2f4fb;
}

#attacken .second {
    background-color: #dedede;
}

#attacken .click {
    transition: 1s;
    transform: rotate(90deg);
}

#attacken .minusClick {
    transition: 1s;
    transform: rotate(0deg);
}


/* helper */
.maxBreite {
    width: 80%;
    margin: 0 auto;
}

